<div class="layout-row layout-align-center">
  <h1>Users</h1>
</div>

<div class="layout-row layout-align-center">
  <div class="flex-xs-95 flex-sm-85 flex-md-80 flex-70">
    {{#paper-list}}
      {{#paper-item}}
        <span class="flex"></span>

        {{#link-to "users.new" class="md-button md-raised md-icon-button"}}
          {{paper-icon "person_add"}}
        {{/link-to}}
      {{/paper-item}}

      {{#each model as |user|}}
        {{#paper-item as |controls|}}
          <div>{{user.email}}</div>

          <span class="flex"></span>

          <div>{{user.role}}</div>

          <span class="flex"></span>

          {{#if currentUser.data.isAdmin}}
            {{#link-to "users.trips" user.id class="md-default-theme md-button md-icon-button"}}
              {{paper-icon "list"}}
            {{/link-to}}
          {{/if}}

          {{#link-to "users.edit" user class="md-default-theme md-button md-icon-button"}}
            {{paper-icon "mode_edit"}}
          {{/link-to}}

          {{#controls.button iconButton=true onClick=(action "destroyObject" user)}}
            {{paper-icon "delete_forever"}}
          {{/controls.button}}
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  </div>
</div>

{{#destroy-confirmation
  visible=showDeleteConfirmation
  onCancel=(action "closeDeleteConfirmation" "cancel")
  onConfirm=(action "closeDeleteConfirmation" "yes")
}}
  <p>The action is irreversible.</p>
  <p>Are you sure you want to delete the user with email <b>{{objectToDelete.email}}</b> ?</p>
{{/destroy-confirmation}}
