<div class="layout-row layout-align-center">
  <h1>Users</h1>
</div>

<div class="layout-row layout-align-center">
  <div class="flex-xs-95 flex-sm-85 flex-md-80 flex-70">
    {{#paper-list}}
      {{#paper-item}}
        <span class="flex"></span>

        {{link-to "Create user" "users.new"}}
      {{/paper-item}}

      {{#each model as |user|}}
        {{#paper-item as |controls|}}
          <div>{{user.email}}</div>

          <span class="flex"></span>

          <div>{{user.role}}</div>

          <span class="flex"></span>

          {{#controls.button iconButton=true onClick=(action "goToUser" user)}}
            {{paper-icon "mode_edit"}}
          {{/controls.button}}

          {{#controls.button iconButton=true onClick=(action "destroyUser" user)}}
            {{paper-icon "delete_forever"}}
          {{/controls.button}}
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  </div>
</div>

{{#if showDeleteConfirmation}}
  {{#paper-dialog
    class="flex-50"
    parent="body"
    onClose=(action "closeDeleteConfirmation" "cancel")
    clickOutsideToClose=true
  }}
    <form>
      {{#paper-toolbar warn=true}}
        {{#paper-toolbar-tools}}
          <h2>Delete confirmation</h2>

          <span class="flex"></span>

          {{#paper-button
            iconButton=true
            onClick=(action "closeDeleteConfirmation" "cancel")
          }}
            {{paper-icon icon="close"}}
          {{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <p>The action is irreversible.</p>
        <p>Are you sure you want to delete the user?</p>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}

        <span class="flex"></span>

        {{#paper-button onClick=(action "closeDeleteConfirmation" "cancel")}}No{{/paper-button}}
        {{#paper-button onClick=(action "closeDeleteConfirmation" "yes")}}Yes{{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}
