{{#paper-toolbar as |toolbar|}}
  {{#if session.isAuthenticated}}
    {{#toolbar.tools class="layout-row layout-align-space-between-center"}}
      {{#link-to "index"}}
        {{paper-icon "home" size=36}}
      {{/link-to}}

      {{#if currentUser.data.canManageUsers}}
        {{#link-to "users.index"}}
          {{paper-icon "people" size=36}}
        {{/link-to}}
      {{/if}}

      {{#paper-menu as |menu|}}
        {{#menu.trigger}}
          {{#paper-button iconButton=true}}
            {{paper-icon "settings" size=28}}
          {{/paper-button}}
        {{/menu.trigger}}

        {{#menu.content width=4 as |content|}}
          {{#content.menu-item onClick=(action "goToProfile")}}
            Profile
          {{/content.menu-item}}

          {{paper-divider}}

          {{#content.menu-item onClick=(action "invalidateSession")}}
            Logout
          {{/content.menu-item}}
        {{/menu.content}}
      {{/paper-menu}}
    {{/toolbar.tools}}
  {{/if}}
{{/paper-toolbar}}

<div class="layout-column vert-offset-top-1 vert-offset-bottom-4">
  {{outlet}}
</div>
